<div class="container">
  <br>
  <br>
  <h4 class="text-center">
    Conversacion
    <%=@chat.sender.email.capitalize!%>
    /
    <%=@chat.recipient.email.capitalize!%>
  </h4>
  <br>
  <div class="row">
    <div class="ui segment">
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <div class="item">
            <div class="content">
              <div class="header"><strong><%= user.email %></strong> <%= message.message_time %></div>
              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i>
                  <%= message.body %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= form_for [@chat, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="text-center">
      <%= f.button :submit, class: "ui blue labeled submit icon button responder text-center" do %>
        <p>Responder
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<br>